# Database using connection string
DATABASE_URL="postgres://user:password@host:port/db-name"

# Database using connection info
DATABASE_HOST=host
DATABASE_PORT=port
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_SCHEMA=db-name
DATABASE_CA_PATH=/cert/...   # If there is root ca pem file, use this env to set path

# Mail using gmail
# ref: https://iamiet.tistory.com/entry/Nodemailer-Gmail-OAuth20%EC%9C%BC%EB%A1%9C-%EC%9D%B4%EB%A9%94%EC%9D%BC-%EB%B0%9C%EC%86%A1%EA%B8%B0%EB%8A%A5-%EA%B5%AC%ED%98%84%ED%95%98%EA%B8%B0
MAIL_HOST="smtp.gmail.com"
MAIL_AUTH_USER="..."    # Replace with your gmail user name
MAIL_AUTH_TYPE="oauth2"
MAIL_AUTH_CLIENT_ID="..."   # Replace with your client id
MAIL_AUTH_CLIENT_SECRET="..."   # Replace with your client secret
MAIL_AUTH_REFRESH_TOKEN="..."   # Replace with your refresh token
MAIL_SERVICE="gmail"
MAIL_PORT=587
MAIL_SECURE=true

# Mail using SES
MAIL_AUTH_TYPE="ses"
MAIL_SES_REGION="..."
MAIL_SES_ACCESS_KEY="..."   # SMTP IAM Access Key
MAIL_SES_SECRET_ACCESS_KEY="..."    # SMTP IAM Secret Access Key (Not SMTP Key)
MAIL_FROM="..." # AWS SES certificated mail address

# AWS S3
S3_ACCESS_KEY=""
S3_ACCESS_SECRET=""
S3_BUCKET=""

# Firebase API
PUBLIC_FIREBASE_API_KEY=""
PUBLIC_FIREBASE_AUTH_DOMAIN=""
PUBLIC_FIREBASE_PROJECT_ID=""
PUBLIC_FIREBASE_STORAGE_BUCKET=""
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=""
PUBLIC_FIREBASE_APP_ID=""
PUBLIC_FIREBASE_MEASUREMENT_ID=""
PUBLIC_FIREBASE_VAPID_KEY=""