@import 'tailwindcss';
@config "../tailwind.config.js";

@layer palette {
	:root {
		--hsl-white: 0 0% 100%;
		--hsl-red-600: 0 72.22% 50.59%;
		--hsl-stone-950: 20 14.3% 4.1%;
		--hsl-stone-900: 24 9.8% 10%;
		--hsl-stone-800: 12 6.5% 15.1%;
		--hsl-stone-500: 25 5.3% 44.7%;
		--hsl-stone-400: 24 5.4% 63.9%;
		--hsl-stone-200: 20 5.9% 90%;
		--hsl-stone-100: 60 4.8% 95.9%;
		--hsl-stone-50: 60 9.1% 97.8%;

		--hsl-light-primary: 29.52 83% 25%;
		--hsl-dark-primary: 29.52 83% 25%;
	}
}

@layer base {
	:root {
		--background: var(--hsl-white);
		--foreground: var(--hsl-stone-950);
		--card: var(--hsl-white);
		--card-foreground: var(--hsl-stone-950);
		--popover: var(--hsl-white);
		--popover-foreground: var(--hsl-stone-950);
		--primary: var(--hsl-light-primary);
		--primary-foreground: var(--hsl-stone-50);
		--secondary: var(--hsl-stone-100);
		--secondary-foreground: var(--hsl-stone-900);
		--muted: var(--hsl-stone-100);
		--muted-foreground: var(--hsl-stone-500);
		--accent: var(--hsl-stone-50);
		--accent-foreground: var(--hsl-stone-800);
		--destructive: var(--hsl-red-600);
		--destructive-foreground: var(--hsl-stone-50);
		--border: var(--hsl-stone-200);
		--input: var(--hsl-stone-200);
		--ring: var(--hsl-light-primary);
		--radius: 0rem;
	}
	.dark {
		--background: var(--hsl-stone-950);
		--foreground: var(--hsl-stone-50);
		--card: var(--hsl-stone-950);
		--card-foreground: var(--hsl-stone-50);
		--popover: var(--hsl-stone-950);
		--popover-foreground: var(--hsl-stone-50);
		--primary: var(--hsl-dark-primary);
		--primary-foreground: var(--hsl-stone-50);
		--secondary: var(--hsl-stone-800);
		--secondary-foreground: var(--hsl-stone-50);
		--muted: var(--hsl-stone-800);
		--muted-foreground: var(--hsl-stone-400);
		--accent: var(--hsl-stone-800);
		--accent-foreground: var(--hsl-stone-50);
		--destructive: var(--hsl-red-600);
		--destructive-foreground: var(--hsl-stone-50);
		--border: var(--hsl-stone-800);
		--input: var(--hsl-stone-800);
		--ring: var(--hsl-dark-primary);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		background-image: url('/background-pattern-light.png'); /* Made by [Atle Mo](http://www.atlemo.com/) */
	}

	body.dark {
		background-image: url('/background-pattern-dark.png'); /* Made by [Atle Mo](http://www.atlemo.com/) */
	}
}
