@import 'tailwindcss';
@config "../tailwind.config.js";

@layer base {
	:root {
		--background: 0 0% 100%; /* white */
		--foreground: 20 14.3% 4.1%; /* 950 */
		--card: 0 0% 100%; /* white */
		--card-foreground: 20 14.3% 4.1%; /* 950 */
		--popover: 0 0% 100%; /* white */
		--popover-foreground: 20 14.3% 4.1%; /* 950 */
		--primary: 24 9.8% 10%; /* 900 */
		--primary-foreground: 60 9.1% 97.8%; /* 50 */
		--secondary: 60 4.8% 95.9%; /* 100 */
		--secondary-foreground: 24 9.8% 10%; /* 900 */
		--muted: 60 4.8% 95.9%; /* 100 */
		--muted-foreground: 25 5.3% 44.7%; /* 500 */
		--accent: 60 4.8% 95.9%; /* 100 */
		--accent-foreground: 24 9.8% 10%; /* 900 */
		--destructive: 0 72.22% 50.59%; /* red-600 */
		--destructive-foreground: 60 9.1% 97.8%; /* 50 */
		--border: 20 5.9% 90%; /* 200 */
		--input: 20 5.9% 90%; /* 200 */
		--ring: 20 14.3% 4.1%; /* 950 */
		--radius: 0.5rem;
	}
	.dark {
		--background: 20 14.3% 4.1%; /* 950 */
		--foreground: 60 9.1% 97.8%; /* 50 */
		--card: 20 14.3% 4.1%; /* 950 */
		--card-foreground: 60 9.1% 97.8%; /* 50 */
		--popover: 20 14.3% 4.1%; /* 950 */
		--popover-foreground: 60 9.1% 97.8%; /* 50 */
		--primary: 60 9.1% 97.8%; /* 50 */
		--primary-foreground: 24 9.8% 10%; /* 900 */
		--secondary: 12 6.5% 15.1%; /* 850 */
		--secondary-foreground: 60 9.1% 97.8%; /* 50 */
		--muted: 12 6.5% 15.1%; /* 850 */
		--muted-foreground: 24 5.4% 63.9%; /* 400 */
		--accent: 12 6.5% 15.1%; /* 850 */
		--accent-foreground: 60 9.1% 97.8%; /* 50 */
		--destructive: 0 62.8% 30.6%; /* red-900 */
		--destructive-foreground: 60 9.1% 97.8%; /* 50 */
		--border: 12 6.5% 15.1%; /* 850 */
		--input: 12 6.5% 15.1%; /* 850 */
		--ring: 24 5.7% 82.9%; /* 300 */
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		background-image: url('/background-pattern-light.png'); /* Made by [Atle Mo](http://www.atlemo.com/) */
	}

	body.dark {
		background-image: url('/background-pattern-dark.png'); /* Made by [Atle Mo](http://www.atlemo.com/) */
	}
}
